# Autotools:
*.la
*.lo
*.o
.deps
.libs
*.pc
/aclocal.m4
/autom4te.cache
/build-aux
/config.*
/configure
/libtool
Makefile
Makefile.in
libbitcoin-consensus.pc

# IDE's and editors:
*~
diff.*
.*.swp
.dirstamp
*.stamp
/*.kdev4
/.cproject
/.project
/.settings
/nbproject
bin
obj

